.assessment {
  width: 900px;
  margin: 0 auto;
  margin-top: 2em;

  .title {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }

  .submit {
    text-align: center;
    margin:1em 0;
  }

  textarea {
    color: black;
  }
}

.assessment-result-container{
  .assessment-result-header {
    text-align: right;
    margin-bottom: 1em;
  }
  > .bordered {
    //border: 1px solid #fff;
    padding: 1em;
  }
}

.competency {
  text-align: center;
  padding-bottom: 1em;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 1em;
  border-bottom: 1px solid #ddd;

  .statement {
    font-size: 1.25em;
    margin-bottom: 1em;
  }

  button {
    margin: 0 0.5em;
  }
}

button.faded {
  box-shadow: none;
  opacity: .65;
}
